html, body{
	margin:0;
	padding:0;
	border:none;
	font-family:'Raleway', sans-serif;
	background: #001824;
}
#cabecera{
	margin-bottom: 0;
}
#primero{
	background: #73021b;
}
#segundo{
	background: #73021b;
}
#tercero{
	background: #73021b;
}
#pie{
	clear: both;
}
#cabecera, #pie,#primero,#segundo,#tercero{
	padding: 1.25em 2%;
	margin:0.4em 0;
}
#contenedor{
	width: 80%;
	margin: auto;
}
#cabecera, #pie{
	background: #001824;
	color: #FEC500;
	display: block;
}
#contenido{
	padding:0;
}
.titulo{
	text-align: center;
	font-size: 30px;
}
div.nav_bar span{
	padding-left:75px;
	padding-right:75px;
}