html, body{
	margin:0;
	padding:0;
	border:none;
	font-family:'Raleway', sans-serif;
	background: #4682B4;
}
header{
	margin-bottom: 0;
}
#primero{
	background: #73021b;
}
#segundo{
	background: #73021b;
}
#tercero{
	background: #73021b;
}
footer{
	clear: both;
}
header, footer,#primero,#segundo,#tercero{
	padding: 1em 2%;
	margin:0.4em 0;
}
#contenedor{
	width: 80%;
	margin: auto;
}
header, nav{
	background: #4682B4;
	color: #FFFFFF;
	display: block;
}
section{
	background-image: url(../image/42650338.jpg);
}
footer{
	background-color: #013277;
	color: #FFFFFF;
	display: block;
}
#contenido{
	padding:0;
}
.titulo{
	text-align: center;
	font-size: 30px;
}
nav span{
	padding-left:75px;
	padding-right:75px;
}