section header{
	float: left;
	width: 100%;
	vertical-align: text-top;
	color: #377577;
	font-size: 40px;
	background: #ADD8E6;
	text-align: center;
	opacity: 60%;
	padding: 0.1%;
	margin-top: 5em;
	margin-left: 0;
	margin-right: 0;
}
section article{
	float: left;
	width: 100%;
	margin-right: 1%;
	padding: 1em 2%;
	margin-top: 20em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background: #87CEEB;
}
#contacto{
	float: left;
	width: 100%;
	margin-right: 1%;
	padding: 1em 2%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background: #2375a8;
}

#servicios{
	float: left;
	width: 300px;
	height: 400px;
	text-align: center;
	margin-top: 1em;
	margin-left: 10em;
	padding: 1%;
	background-color: #013277;
	color: #FFFFFF;
}

#laboratorios{
	float: left;
	width: 300px;
	height: 400px;
	text-align: center;
	margin-top: 1em;
	margin-left: 2em;
	padding: 1%;
	background-color: #013277;
	color: #FFFFFF;
}

#usuarios{
	float: left;
	width: 300px;
	height: 400px;
	text-align: center;
	margin-top: 1em;
	margin-left: 2em;
	padding: 1%;
	background-color: #013277;
	color: #FFFFFF;
}

h1{
	color: #7de5f3;
	font-size: 30px;
}

input{
	background-color: #2a84bb;
	border: #2a84bb;
	height: 1cm;
	font-size: 20px;
	color: #d0ecf3;
}

div{
	text-align: center;
}

textarea{
	resize: none;
}

#formulario{
	float: left;
	width: 300px;
	height: 400px;
	text-align: center;
	margin-top: 1em;
	margin-left: 33em;
	color: #FFFFFF;
}

#formulario input{
	background-color: white;
	margin-top: 0.5em;
}
#formulario textarea{
	margin-top: 0.5em;
}
#boton input{
	background-color: #013277;
	border: #013277;
	height: 1cm;
	font-size: 20px;
	color: #d0ecf3;
}


.fis {
	width: 100%;
	height: 50px;
	margin: 30px auto;
	background-color: #2375a8;
	  color: white;
}


/* MENU */
.fis ul {
	list-style: none;
}

.menu>li {
	/* position: relative; */
	display: inline-block;

}

.menu>li>a {
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: seins-arial;
	text-decoration: none;
}

.menu li a:hover {
	color: #CE7D35;
	transition: all .3s;
}


.submenu {
	position: absolute;
	background: #333333;
	width: auto;
	display: none;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu {
	display: block;

}