.contenedor__titulos{
	float: left;
	width: 100%;
	vertical-align: text-top;
	color: #377577;
	font-size: 30px;
	background: #ADD8E6;
	text-align: center;
	opacity: 60%;
	padding: 0.1%;
	margin-top: 5em;
	margin-left: 0;
	margin-right: 0;
}

.contenedor__laboratorio{
    float: left;
	width: 300px;
	height: 500px;
	text-align: center;
	margin-top: 1em;
    margin-left: 15em;
    margin-bottom: 2em;
	padding: 1%;
	background-color: #013277;
	color: #FFFFFF;
}

.contenedor img {
	position: absolute;
	left:16em;
	top: 43em;
	transition: opacity 1.5s ease-in-out;
	width: 300px; height: 300px;
}  
.contenedor img.top:hover {
	width: 300px; height: 300px;
	opacity: 0;
}

.contenedor2 img {
	position: absolute;
	left:51em;
	top: 43em;
	transition: opacity 1.5s ease-in-out;
	width: 300px; height: 300px;
}
.contenedor2 img.top:hover {
	width: 300px; height: 300px;
	opacity: 0;
}
.contenedor3 img {
	position: absolute;
	left:16em;
	top: 79em;
	transition: opacity 1.5s ease-in-out;
	width: 300px; height: 300px;
}  
.contenedor3 img.top:hover {
	width: 300px; height: 300px;
	opacity: 0;
}
.contenedor4 img {
	position: absolute;
	left:51em;
	top: 79em;
	transition: opacity 1.5s ease-in-out;
	width: 300px; height: 300px;
}
.contenedor4 img.top:hover {
	width: 300px; height: 300px;
	opacity: 0;
}

#button{
    background-color: #2a84bb;
	border: #2a84bb;
    height: 1cm;
    width: 5cm;
	font-size: 20px;
	color: #d0ecf3;
}
a {
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: seins-arial;
	text-decoration: none;
}