#info{
	float: left;
	width: 100%;
	vertical-align: text-top;
	color: #377577;
	font-size: 20px;
	background: #ADD8E6;
	text-align: center;
	opacity: 60%;
	padding: 0.1%;
	margin-top: 5em;
	margin-left: 0;
	margin-right: 0;
}
#Willy img{
    width: 100px; height: 100px;
    position: relative;
    top: 20px; 
    right: 100px;
}
#Alex img{
    width: 100px; height: 100px;
    position: relative;
    top: 35px; 
    right: 100px;
}
#Willy{
	float: left;
	width: 300px;
	height: 200px;
	text-align: center;
	margin-top: 1em;
    margin-left: 15em;
    margin-bottom: 2em;
	padding: 1%;
	background-color: #013277;
	color: #FFFFFF;
}
#Alex{
	float: left;
	width: 300px;
	height: 200px;
	text-align: center;
	margin-top: 1em;
    margin-left: 10em;
    margin-bottom: 2em;
	padding: 1%;
	background-color: #013277;
	color: #FFFFFF;
}
#info h1{
    color: #013277;
}
#info p{
    color: #295758;
}
h1{
	color: #7de5f3;
	font-size: 30px;
}
#Willy h1{
    position: relative;
    top: -100px; 
    right: -40px;
}
#Willy p{
    position: relative;
    top: -100px; 
    right: -40px;
}

#Alex h1{
    position: relative;
    top: -80px; 
    right: -45px;
}
#Alex p{
    position: relative;
    top: -50px; 
    right: -40px;
}

div{
	text-align: center;
}

