/* general */
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: white;
    /*
    background: url(../image/4370813721_80b93b3153_b.jpg) no-repeat center center fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    */
}

/* header */
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    height: 120px;
    background-color: #6ea4ca;
}
.logo{
    margin-left: 20px;
    display: flex;
    flex-basis: 40%;
    flex-direction: row;
    align-items: center;
}
.logo img{
    width: 25%;
}
.logo h1{
    font-size: 20px;
    font-weight: unset;
    padding-left: 20px;
}

.contenedor__servicios{
    text-align: center;
}